<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>About Page</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
      cumque aliquid pariatur reprehenderit vel, veniam nihil molestiae quod.
      Quaerat sint aliquam autem. Dolore quam incidunt, perferendis optio, error
      esse odio laudantium dolorum sequi quo dolorem voluptate debitis earum
      itaque, maiores explicabo molestias minus sunt ex facere doloremque
      quidem? Id, quo.
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
